/* Your app's SASS, go crazy, make it your own */

.ionic-logo
  display: block
  margin: 15px auto
  width: 96px
  height: 96px

.main input, #weather-info, .title
  text-align: center
  text-transform: capitalize

#weather-info
  padding-bottom: 20%

.search, .city-list
  text-transform: capitalize

.error
  text-align: center
  color: #FF4D4D
  font-size: 1.5em
  border: 2px solid #FFB2B2
  border-radius: 5px
  padding: 20px 0 20px 0
  margin-bottom: 20px
  background-color: #FFCCCC

/* starting animations */

.fade.ng-enter
  -webkit-transition: 1.5s linear all
  transition: 1.5s linear all

  opacity: 0

/* destination animations */
.fade.ng-enter.ng-enter-active
  opacity: 1

.fade.ng-leave
  -webkit-transition: 0.5s linear all
  transition: 0.5s linear all

  opacity: 1

/* destination animations */
.fade.ng-leave.ng-leave-active
  opacity: 0


/* starting animations (this is for global fade in/out  */

.ng-enter
  -webkit-transition: 1.5s linear all
  transition: 1.5s linear all

  opacity: 0

/* destination animations */
.ng-enter.ng-enter-active
  opacity: 1

.ng-leave
  -webkit-transition: 0.5s linear all
  transition: 0.5s linear all

  opacity: 1

/* destination animations */
.ng-leave.ng-leave-active
  opacity: 0









