/* Your app's SASS, go crazy, make it your own */

.ionic-logo
  display: block
  margin: 15px auto
  width: 96px
  height: 96px


#weather-info
  padding-bottom: 20%

.item input, #weather-info
  text-align: center
  text-transform: capitalize

.search, .city-list
  text-transform: capitalize
