/* Your app's SASS, go crazy, make it your own */

.ionic-logo
  display: block
  margin: 15px auto
  width: 96px
  height: 96px



.main input, #weather-info, .title
  text-align: center
  text-transform: capitalize

#weather-info
  padding-bottom: 20%

.search, .city-list
  text-transform: capitalize
