<ion-view title="The Weather App: Mobile">
  <ion-content class="has-header padding">
<!-- /////////////////////////// hidden buttons for comments  //////////////////////// -->
    <button ng-hide="hideCommentFunctionality" class="button button-outline button-block button-calm" ng-click="openModal()">
      Leave Comment for this City
    </button>
    <button ng-hide="hideCommentFunctionality" class="button button-block button-energized" ng-click="reset()">
      Reset
    </button>
<!-- /////////////////////////// end hidden buttons for comments  //////////////////////// -->

    <div class="list list-inset">
      <form name='cityInfoForm' ng-hide='hideCityForm' ng-submit="displayCityInfo(cityName, stateName)" novalidate>
        <label class="main item item-input">
          <input type="text" placeholder="City Name" ng-model="cityName" required>
        </label>
        <label class="main item item-input">
          <input type="text" maxlength="2" placeholder="State e.g. Tx" ng-model="stateName" ng-minlength='2' required>
        </label>
        <!-- use ng-disabled to gray out button until form fields are valid to prevent
        bad data being submitted -->
        <button ng-disabled='cityInfoForm.$invalid' class="button button-outline button-block button-positive padding" ng-click="clear()">
          Get Weather Info
        </button>
      </form>
      </div>
      <div id="weather-info" ng-hide="hideCommentFunctionality">
        <h1>{{cityInfo.toLowerCase()}}</h1>
        <h2>{{temp}}</h2>
        <h2>{{highTemp}}</h2>
        <h2>{{lowTemp}}</h2>
        <h2>{{pressure}}</h2>
        <h2>{{humidity}}</h2>
      </div>
      <script id="my-modal.html" type="text/ng-template">
      <div class="modal">

        <!-- Modal header bar -->
        <ion-header-bar class="bar-secondary">
          <h1 class="title">New Comment for {{city}}, {{state}}</h1>
          <button class="button button-clear button-positive" ng-click="closeModal()">Cancel</button>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content>

          <form ng-submit="createComment(comment)">
            <div class="list">
              <label class="item item-input">
                <input type="text" maxlength="50" placeholder="Enter comment (max 50 chars)" ng-model="comment.body">
              </label>
            </div>
            <div class="padding">
              <button type="submit" class="button button-outline button-block button-positive">Submit Comment</button>
            </div>
          </form>

        </ion-content>

      </div>


      </script>
  </ion-content>
</ion-view>
