<ion-view title="The Weather App: Mobile">
  <ion-content class="has-header padding">
    <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="City Name">
        </label>
        <label class="item item-input">
          <input type="text" maxlength="2" placeholder="State e.g. Tx">
        </label>

        <button class="button button-block button-positive">
          Get Weather Info
        </button>
      </div>
  </ion-content>
</ion-view>
