<ion-view title="The Weather App: Mobile">
  <ion-content class="has-header padding">
    <div class="list list-inset">
      <form ng-submit="add(cityName, stateName)">
        <label class="item item-input">
          <input type="text" placeholder="City Name" ng-model="cityName">
        </label>
        <label class="item item-input">
          <input type="text" maxlength="2" placeholder="State e.g. Tx" ng-model="stateName">
        </label>

        <button class="button button-block button-positive">
          Get Weather Info
        </button>
      </form>
      </div>
      <div id="weather-info">
        <h1>{{cityInfo}}</h1>
        <h2>{{temp}}</h2>
        <h2>{{highTemp}}</h2>
        <h2>{{lowTemp}}</h2>
        <h2>{{pressure}}</h2>
        <h2>{{humidity}}</h2>
      </div>
  </ion-content>
</ion-view>
